@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #FFFFFF;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Mulish", sans-serif !important;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.a.si21 {
  width: 100%;
  height: 40px;
  border-radius: 20px;
  font-size: 16px;
  background-color: #ffb540 !important
}

.styleable-title {
  color: #000000 !important;
  font-size: 16px !important;
  font-weight: 600;
}

.si126 {
  font-size: 16px !important;

  /* padding-bottom: 3px;
  padding-left: 3px;
  padding-right: 1px;
  padding-top: 3px; */
  color: white !important;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}

.category_sec .MuiTabs-root .Mui-selected {
  border-color: #ffb540 !important;
  color: #ffffff !important;
  background-color: #ffb540 !important;
  border: 2px solid !important;
  border-radius: 40px !important;
  font-weight: 700 !important;
  min-height: 40px;
  max-height: 40px;
}

.MuiTabs-indicator {
  /* background-color: #ff7800 !important; */
  display: none;
}

.categoryCard {
  border: 1px solid #4b5563 !important;
  background-color: #1f2937 !important;
  border-radius: 40px;
  padding: 10px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.category_card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  color: #FFFFFF;
  width: 100%
}

.category_card .play_win_text {
  font-size: 14px;
  color: #ffffff;
  font-weight: 900;
  display: flex;
  align-items: center;
  gap: 3px;
  margin: 5px 0;
  justify-content: end;
}

.playerstorage-img {
  width: 20px;
}

.play_button {
  border-radius: 100px !important;
  width: 65px !important;
  height: 65px !important;
  background-color: #ffb540 !important;
}

.ad250 {
  /* border: 2px solid #ab5202; */
  /* border-radius: 30px; */
  overflow: hidden;
  margin: 0px 0px;
}

.blog_card_main {
  border: 2px solid #ffb540;
  border-radius: 20px;
  overflow: hidden;
}

.blog_card_main img {
  width: 100%;
  height: 200px;
}

.blog_card_main .blog_Card_body {
  padding: 15px;
}

.blog_card_main .blog_Card_body h1 {
  font-size: 18px;
}

.blog_card_main .blog_Card_body p {
  font-size: 16px;
  margin-top: 10px;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.contained_button {
  height: 49px;
  width: 100%;
  border-radius: 40px !important;
  background-color: #ffb540 !important;
  font-weight: 700;
}

.contained_button.Mui-disabled {
  height: 49px;
  width: 100%;
  border-radius: 40px !important;
  background-color: #ffb540 !important;
  font-weight: 700;
  color: #5d5a5a !important;
}

.quiz_box {
  border: 2px solid #ffb540;
  /* min-height: 300px; */
  /* margin-top: 30px; */
  border-radius: 10px;
  position: relative;
  background-color: #3b4559;
  padding: 20px;
  text-align: center;
}

.quiz_count {
  width: 45px;
  height: 45px;
  background-color: #ffb540;
  border: 2px solid #000000;
  border-radius: 100px;
  position: absolute;
  top: 4px;
  left: 8%;
  transform: translate(-50%, 0%);
  /* display: flex;
  justify-content: center;
  align-items: center; */
  font-size: 30px;
  font-weight: 600;
}

.quiz_count .timer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quiz_count_text {
  font-size: 21px;
  color: #FFFFFF;
}

.quiz_count .timer {
  width: 100% !important;
  height: 100% !important;
  margin-top: 0px !important;
}

.quiz_count .timer .MuiBox-root {
  width: 100% !important;
  height: 100% !important;
  display: block !important;
}

.quiz_count .timer .MuiBox-root span {
  width: 100% !important;
  height: 100% !important;
}



.qution {
  font-size: 20px;
  margin-top: 30px;
  color: #FFFFFF;
}

.options {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.option_button {
  width: 45%;
  background-color: #000000;
  min-height: 49px;
  border-radius: 40px;
  font-weight: 500;
}

.option_button:hover {
  width: 45%;
  background-color: #ffb540;
  min-height: 49px;
  border-radius: 40px;
}

.option_button_correct {
  width: 45%;
  background-color: #4caf50 !important;
  color: #FFFFFF !important;
  min-height: 49px;
  text-wrap: wrap;
  border-radius: 40px;
}

.option_button_wrong {
  width: 45%;
  background-color: #ed4337 !important;
  color: #FFFFFF !important;
  min-height: 49px;
  border-radius: 40px;
}

.MuiDrawer-paper {
  background-color: #172031 !important;
  color: #ffffff;
}

.view_option_button {
  width: 45%;
  background-color: #20213f !important;
  border: 2px solid #404380 !important;
  color: #FFFFFF !important;
  min-height: 32px;
  border-radius: 40px;
  font-weight: 500;
}

.contact_us_bg {
  border: 2px solid #ffb540;
  /* margin-top: 50px; */
  border-radius: 10px;
  background-color: #3b4559;
  padding: 20px;
  text-align: center;
}

.contact_us_bg input {
  width: 100%;
  height: 49px;
  border-radius: 10px;
  background-color: #000000;
  border: none;
  padding: 10px 10px 10px 20px;
  color: #FFFFFF !important;
}

.contact_us_bg textarea {
  width: 100%;
  border-radius: 10px;
  background-color: #000000;
  color: #FFFFFF !important;
  border: none;
  padding: 10px 10px 10px 20px;
}




.timer {
  margin-top: 10px;
}

.timer>svg {
  width: 80px;
  height: 80px;
}

.timer>svg>.animated-circle {
  stroke-dasharray: 1;
  stroke-dashoffset: 0;
  /* Start fully visible */
  stroke-linecap: round;
  stroke-opacity: 1;
  animation: countdown 6s linear infinite, changeColor 6s linear infinite;
}

@keyframes countdown {
  0% {
    stroke-dashoffset: 0;
    /* Start fully visible */
  }

  100% {
    stroke-dashoffset: 1;
    /* End fully hidden */
  }
}

@keyframes changeColor {

  0%,
  50% {
    stroke: #4caf50;
    /* Initial color */
  }

  50%,
  75% {
    stroke: #ffeb3b;
    /* Color after 5 seconds */
  }

  75%,
  100% {
    stroke: #f44336;
    /* Reset color */
  }
}

.timer>svg>text {
  font-size: 2rem;
  fill: #FFFFFF !important;
}

.entry_fee_text {
  background-color: #80808042;
  color: #ffffff;
  width: fit-content;
  font-size: 10px;
  padding: 3px 10px;
  border-radius: 100px;
  font-size: 10px;
  display: flex;
  align-items: center;
  gap: 5px
}

.sports_title {
  font-size: 10px;
  color: #64d2ff;
  font-weight: 600;
}

.entry_fee_text .playerstorage-img {
  width: 10px;
}

.quiz_main .MuiLinearProgress-determinate {
  background-color: #000000 !important;
}

.quiz_main .MuiLinearProgress-bar {
  background-color: #ffb540 !important;
}

.category_title_main {
  min-width: 58%;
  text-align: end;
}

.category_img {
  width: 60px;
  height: 60px;
  border-radius: 100px;
}

.category_title {
  font-size: 18px;
  text-wrap: wrap;
  word-break: break-word
}

.start_card {
  background-color: #FFFFFF !important;
  border: none !important;
}

@media screen and (max-width: 425px) {
  .category_title_main {
    min-width: 54%;
  }

  .category_card {
    gap: 8px;
  }
}

@media screen and (max-width: 376px) {
  .category_img {
    width: 50px;
    height: 50px;
    border-radius: 100px;
  }

  .entry_fee_text {
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 5px
  }

  .category_title {
    font-size: 16px;
    text-wrap: wrap;
    word-break: break-word
  }

  .category_title_main {
    min-width: 50%;
  }
}

@media screen and (max-width: 340px) {

  .category_title {
    font-size: 14px;
    text-wrap: wrap;
    word-break: break-word
  }

  .entry_fee_text {
    font-size: 12px;
    display: flex;
    align-items: center;
    gap: 5px
  }

  .category_img {
    width: 40px;
    height: 40px;
    border-radius: 100px;
  }

  .ad250 {
    overflow: hidden;
    margin: 0px 0px;
  }
}

.fixed_bottom_button {
  position: absolute;
  width: 100%;
  left: 0px;
  bottom: 0px;
  background-color: #172031;
  padding: 15px;
  cursor: pointer;
}

.fixed_bottom_button .active {
  background-color: #1a2f77;
  padding: 8px 16px;
  border-radius: 15px;
}

.coin_header {
  border: 2px solid #ffb540 !important;
  border-radius: 40px !important;
  padding: 2px 10px;
  width: fit-content;
  min-width: 80px;
  min-height: 35px;
  height: 100%;
}

/* ===>>>===>>>===>>> Search <<<===<<<===<<<=== */

input.gsc-input {
  height: 40px !important;
  border-radius: 50px !important;
}

.gsc-input td {
  min-height: 40px !important;
  border-radius: 50px !important;
  padding: 0px 0px 0px 20px !important;
}

.gsc-input table {
  border-radius: 50px !important;
}

.gsc-input-box {
  border-radius: 50px !important;
}

.gsc-search-box {
  position: relative !important;
}

.gsc-search-button button {
  /* position: absolute !important;
  top: 50%;
  right: 20px;
  transform: translate(-0%, -50%); */
  background-color: transparent !important;
  /* border: none !important; */
  padding: 10px 20px !important;
  border-color: #dfe1e5 !important;
  border-radius: 50px !important;
  cursor: pointer !important;
}

.gsc-search-button svg {
  fill: #aaaaaa !important;
  width: 20px !important;
  height: 20px !important;
}

.gsc-webResult.gsc-result .gs-webResult.gs-result {
  display: flex !important;
  flex-direction: column-reverse !important;
  gap: 8px;
}

.gs-snippet {
  font-size: 18px !important;
}

.gs-visibleUrl-breadcrumb {
  font-size: 16px !important;
}

.gsc-thumbnail-inside a {
  font-size: 18px !important;
}

.gsc-input .gsib_b {
  padding: 0px !important;
  padding-right: 15px !important;
}

.gsc-input {
  padding-right: 10px !important;
}

.a.si21 {
  background-color: #000000 !important;
  color: #FFFFFF !important;
}

.MuiPaper-root {
  width: 400px;
  margin: 0px;
}

.play_coins_details ul {
  padding-left: 15px;
}

.play_coins_details ul li {
  font-size: 14px;
  font-weight: 500;
  color: #8789c3;
  margin-bottom: 8px;
}

.user_round_images {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.sign-button {
  font-size: 13px;
  padding: 8px 5px;
  max-width: 150px;
  width: 100%;
  font-weight: 700;
  color: #ffffff;
  background-color: #ffb540;
  border: 1px solid #ffb540;
  border-radius: 50px;
}

.drawer_section li .MuiListItemButton-gutters:hover {
  background-color: #ffb5407a;
}

.drawer_section .active {
  background-color: #ffb540;
}

.gif_icon {
  width: 25px;
  height: 25px;
}

/* ==========category_Section============== */

.category_Section input {
  border: 2px solid #e5e7eb;
  border-radius: 50px;
  width: 100%;
  background-color: transparent;
  padding: 12px 16px;
  margin-top: 20px;
  outline: none;
  text-indent: 20px;
  min-height: 50px;
}

.category_Section input::placeholder {
  font-size: 15px;
  font-weight: 600;
  color: #c9c9c9;
}

.category_Section .search_icon {
  position: absolute;
  left: 13px;
  top: 36px;
}

.category_Section .category_card_section .category_images {
  height: 45px;
  width: 45px;
  border-radius: 50px;
}

.category_Section .category_card_section {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.category_Section .category_card_section p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100px;
}

.profile_section .profile_user {
  height: 115px;
  width: 115px;
  border-radius: 50px;
}

.profile_section .user_name_title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 235px;
}

@media (max-width : 565px) {

  input.gsc-input {
    height: 30px !important;
    border-radius: 50px !important;
  }
}